*{
    text-align: center;
}
body{
    background-color:gainsboro;
    font-size: 40px;
    font-family: 'Creepster', cursive;
}
#intro-pic-1{
    border-radius: 25%;
    animation-name:move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
#intro-pic-2{
    border-radius: 25%;
    animation-name:move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
#intro-pic-3{
    border-radius: 25%;
    animation-name:move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
#panda2{
    margin-left:-5;
    margin-top:15%;
}
#panda3{
    margin-left:-65%;
    margin-top:15%;
}
#panda1{
    margin-left:-15%;
    
}
@keyframes move{
    0%{
        margin: 0;
    }
    50%{
        margin-top:3%;
    }
    100%{
        margin:0
    }
}
#play{
}
a{
    text-decoration:none;
    margin-top:20%;    
}